/*RESET*/
*
{
    margin: 0;
    padding: 0;
    text-align: center;
}

/*TEXT PROPERTIES*/
main
{
    margin-top: 12vh;
    position: relative;
    height: 75vh;
}

nav
{
    margin: 50px;
}

p
{
    margin: 15px auto 15px;
    width: 50%;
    text-align: justify;
}



/*ICONS and IMAGES*/
#contact_icons
{
    text-align: center;
    width: 100%;
}
#contact_icons img
{
    display: block;
    max-width: 5%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}



/********LINKS (images and otherwise)********/
a img
{
    max-width: 10%;
    margin-left: 10px;
    margin-right: 10px;
    transition: 250ms;
}

a :hover
{
    transition: 750ms;
    transform: scale(1.5);
}

a 
{
    text-decoration: none;
    color: black;
}




/********TRANSITION PROPERTIES********/

/*fade properties*/
.transition-fade
{
    opacity: 1;
    transition: 1.5s;
}

html.is-animating .transition-fade
{
    opacity: 0;    
}

/*slide properties*/

.transition-slide
{
    transition: 1.5s;
    transform: translateY(0);
}

html.is-animating .transition-slide
{
    transform: translateY(100px);
}